.header-search-cl{
    top: 2%;
    position: absolute;
    z-index: 99;
    width: 25%;
    left: 32%;
}
.input-search{
    padding: 7px;
    margin-right: 12px;
    border-radius:9px;
}
.button-cl{
    padding: 6px;
    border: 2px solid #ccc;
    border-radius: 4px;
}